.typing {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing .content_parent {
    position: relative;
    width: 100%; max-width: 90ch; min-width: 200px;
    max-height: 100vh; min-height: 14em;
    border: 1px solid black;
    overflow: hidden;
    box-sizing: border-box;
    font: 1.1em 'Roboto', sans-serif;

}

.typing .hight_holder {
    /* gives height to parent and serves no other purpose */
    /* percentage paddings and margins depend on width of direct parent */
    padding-top: calc(139ch - 100%);
}

.typing .content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.typing .test_input {
    flex-shrink: 0;
    resize: none;
    width: 100%;
    height: 25%; max-height: 6em;
    box-sizing: border-box;
    font: 1.1em 'Roboto Mono', monospace;
}